{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
			<div class="grid_12  block-light alpha omega">
				<div class="grid_6 alpha block-light">

	<div class="column-0">
		<h1>Refugee Buddy</h1> 
 
<p>Refugee Buddy is a new, simple way that you can welcome people to your
community who are from other countries and cultures by showing them
support as they rebuild their lives.</p> 
 
<h4>Why is this important?</h4> 
 
<p>When we move house, it's hard to figure out such things as how best to fit
in. It's even tougher for a family who have spent years in transition
from lives at risk, and who now are finally settling to a new place
where they hope to find some peace of mind and a better way of
living.</p> 
 
<h4>Who can be a Refugee Buddy volunteer?</h4> 
 
<p>The Refugee Buddy program connects volunteer people locally with new
residents to their community.  Refugee Buddy volunteers can be a
family, a couple, a local group such as a footy team, club or school
students.</p> 
 
<h4>What kind of personal commitment?</h4> 
 
<p>There are varying levels of participation depending on your available time
and life/work situation.  Typically we see three levels of support
as:</p> 
 
<ul> 
	<li><strong>Remote support </strong> by phone and/or email;</li>
	<li><strong>Short personal meet-ups</strong> within the local community at shopping malls and points of interest;
and</li> 
	<li><strong>Longer, shared outings</B> to surrounding areas.</strong></li> 
</ul> 
 
<p>Your involvement can be as simple as initially welcoming a refugee person
or family to your community and helping to introduce them to the
basics we all need: shopping, banking, their faith community.</p> 
 
<p>It can also be a longer term ongoing relationship of support: helping
them adjust to a new cultural context while being respectful of their
traditions and values.</p> 
 
<h4>What’s in it for me?</h4> 
 
<p>As with many forms of volunteering, through the Refugee Buddy experience
you might discover you get even more than you give.  It is an
opportunity for you to experience new ways of seeing your own
community; of connecting with new people; of expanding your horizons.</p> 
 
<h4>Core values: What do we stand for?</h4>
<ul> 
	<li>A warm welcome</li> 
	<li>Personal relationships</li>
	<li>Sharing cultures </li>
	<li>Promoting understanding </li>
	<li>Local knowledge </li>
</ul> 
 
<h4>	How do I get involved as a Refugee Buddy?</h4> 
 
<p>It's simple. Sign up using the form on this site, to tell us  little about
you and how you are prepared to help. When you are matched, you'll be
sent an email by a local community or service organisation.   
</p> 

          </div>  </div>
</div>
{% endblock content %}
