{% extends 'base.html' %}

{% block title %}FAQ{% endblock title %}

{% block content %}

			<div class="grid_12  block-light alpha omega">
				<div class="grid_6 alpha block-light block-light-static">

	<div class="column-0">
		<h1>FAQs</h1> 
 
<h3>What should I do with my refugee buddy?</h3> 
 
<p>That's up to you and your buddy to work out. Chat, have a coffee, go to a sports match, art gallery, shopping or the beach. Find some similar interests and enjoy spending time together. Ask a few questions and be prepared to listen.  You will be supported by the organisation that contacts you and links you with your buddy.  The organisation will explain to you your rights and responsibilities as a volunteer and be able to help you with dealing with issues like confidentially, appropriate behaviour and finding further help.
 
<h3>Is there any cost involved?</h3> 
 
<p>You don't have to pay anything to become a refugee buddy. Outings and activities may be part of how you form a relationship with your buddy, and help them connect with the community. Extend a level of welcome and hospitality that you are comfortable with. Some good low cost meeting places are parks, libraries and community centres. 
 
<h3>Which community and service organisations will be using refugee buddy?</h3> 
 <h4>Here's a list:</h4>
<ul><li>O'Connell Street Refugee Council of OzSICamp</li></ul> 

                </p></p></div></div>
</div>
{% endblock content %}

