{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_MAPS_API_KEY }}"></script>
<script type="text/javascript" charset="utf-8">
	google.load("maps", "2.x");
</script>
<script type="text/javascript" src='{{ MEDIA_URL }}js/geo_location_field.js'></script>
{% endblock extra_head %}

{% block content %}
{{ buddy }}{# need to make exist #}
<form method="post" action="">
{{ form.as_p }}
{% csrf_token %}
<input type="submit" name="submit" value="Submit" />
</form>
{% endblock content %}
