{% extends 'base.html' %}

{% block extra_head %}
<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_MAPS_API_KEY }}"></script>
<script type="text/javascript" src='{{ MEDIA_URL }}js/jquery.json-1.3.min.js'></script>
<script type="text/javascript" src='{{ MEDIA_URL }}js/geo_location_field.js'></script>
{% endblock extra_head %}

{% block content %}

{# show search form #}
<ul class="buddy-search-form">
<form action="" method="post">
	{{ form.as_ul }}
	{% csrf_token %}
	<input type="submit" value="search" />
</form>
</ul>
	<div class="search-results">

{# output buddies #}
<div class="map-results">
{% for buddy in buddies_in_range %}
	
	{% if forloop.first %}<img src="http://maps.google.com/maps/api/staticmap?center={{ buddy.location.latitude }},{{ buddy.location.longitude }}&zoom={{ buddy.location.adminzoom}}&size=900x350&maptype=terrain&markers=color:0xE035C0|{{ buddy.location.latitude }},{{ buddy.location.longitude }}
	{% else %}&markers=color:0xE035C0|{{ buddy.location.latitude }},{{ buddy.location.longitude }}
	{% endif %}
	{% if forloop.last %}&sensor=false" />
	{% endif %}
{% endfor %}
</div>

	<table>
		<thead>
			<tr>
{% for buddy in buddies_in_range %}

{% if forloop.first %}	

				<td class="row first name">Full Name</td>
				<td class="row age">Age</td>
				<td class="row location">Location</td>
				<td class="row interest">Interests</td>
				<td class="row experience">Experience</td>
				<td class="row participation-level">Involvement level</td>
			</tr>
		</thead>
		<tbody>
			<tr class="row-even">
{% else %}

	{% if forloop.counter|divisibleby:2 %}
			<tr class="row-odd">
	{% else %}
			<tr class="row-even">
	{% endif %}
{% endif %}
				<td class="row first name"><a href="{% url buddies_detail '1' %}">{{ buddy.name }}</a></td>
				<td class="row age">{{ buddy.age }}</td>
				<td class="row location">{{ buddy.location.address }}</td>
				<td class="row interest">{{ buddy.interests }}</td>
				<td class="row experience">{{ buddy.experience }}</td>
				<td class="row participation-level">{{ buddy.participation_level }}</td>
			</tr>
{% if forloop.last %}
			</tbody>
	</table>

{% endif %}			
{% empty %}
{# blah #}
{% endfor %}
	</div>
{% if not is_get %}
{% endif %}
{% endblock content %}