{% extends 'base.html' %}

{% block title %}Refugee Buddy{% endblock title %}

{% block content %}
				<div class="block-white">
					<div class="line-1 clr">
						<div class="column-1">
							<h1>Graphic HERE </h1>
							<h4>or actual video</h4>
							
						</div>
						<div class="column-2">
						 
							<div>
    	                        <h2>Being a Volunteer</h2>
                      
                            </div>
                            <img src="{{ MEDIA_URL }}images/registerbutton.png" alt="Get Involved Now"/>
                        	 
                           
                            <p>Questions</p>
                            <ul>
                            <li>How Can I help you?</li>
                            <li>How Does it Work?</li>
                            <li>Where can I help?</li>
                            </ul>
                           <!-- <p>You can also audit the installation of your Google Analytics Tracking Code and more tools are coming soon.</p> -->
                            
                            
						</div>
					</div>
				</div>

				<div class="block-grey">
				<h4>Volunteer</h4>
					<p>Community, Meeting, Local, People</p>
				</div>
{% endblock content %}

